<%= form_for(@movie_genre) do |f| %>
  <% if @movie_genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie_genre.errors.count, "error") %> prohibited this movie_genre from being saved:</h2>

      <ul>
      <% @movie_genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :movie_id %><br>
    <%= f.text_field :movie_id %>
  </div>
  <div class="field">
    <%= f.label :genre_id %><br>
    <%= f.text_field :genre_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
